.modebar-group {
    display: inline-flex !important;
}
.charts-container {
    width: 1300px; /* 使用 flexbox 顯示內容 */
    height: 600px;
    display: flex;
    justify-content: space-between; /* 將兩個元素間隔平均分配 */
  }
  
  .chart-item {
    width: 48%; /* 調整寬度以確保在容器中水平排列 */
  }