{% extends 'layout.html' %}

{% block title %}
{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom-style.css') }}" />
{% endblock %}

{% block content %}
<header class="header">
    <style>
        h2 {
				color: #ffffff; /* text color */
				background-color: rgba(124, 122, 122, 0.092); /* background color */
				padding: 20px; 
				font-size: 36px;
			}
        h3 {
            color: #ffffff; /* text color */
            background-color: rgba(124, 122, 122, 0.092); /* background color */
            padding: 20px; 
            font-size: 18px;
        }
        footer{
            color: #9c9898;
        }
    </style>
    <h2 class="text-center" >
        <i class="fa-solid fa-house-tsunami"></i>  即時天氣顯示系統
    </h2>
    <h3 class="subtitle text-center">
        資料視覺化期末專案  <i class="fa-regular fa-folder-open"></i>
    </h3>
</header>

<main class="main-content">
  <div class="mx-auto max-w-7xl py-12 sm:px-6 lg:px-8">
    <div class="flex items-center mb-8 space-x-4">
      {% block dropdown %}{% endblock %}
    </div>
    <!-- 其他內容 -->
  </div>
</main>

<footer class="footer">
  <div class="student-info text-right">葛亭妤, 洪正豪, 曾翊承, 蔡承恩, 張信富</div>
</footer>
{% endblock %}
