{% macro menuItem(pageId, pageName) %}
<li>
	<a onclick="nowPage = this.dataset['pageid']" data-pageid="{{ pageId }}" class="flex items-center p-2 text-white hover:bg-zinc-400 md:rounded-md rounded-lg group">
		{{ icon[pageId] | safe }}
		<span class="ms-3">{{ pageName }}</span>
	</a>
</li>
{% endmacro %}

<aside id="default-sidebar"
	class="fixed top-0 left-0 z-40 w-40 h-screen transition-transform -translate-x-full sm:translate-x-0"
	aria-label="Sidebar">
	<div class="h-full px-3 py-4 overflow-y-auto bg-zinc-700">
		<ul class="space-y-2 font-medium">
			{{ menuItem('temp', '溫度') }}
			{{ menuItem('rain', '雨量') }}
			{{ menuItem('wind', '風速') }}
		</ul>
	</div>
</aside>

<script>
	/** @type {'temp' | 'rain' | 'wind'} */
	let nowPage = 'temp';
</script>