{% extends 'layout.html' %}

{% block title %}
各縣市當前平均溫度
{% endblock %}

{% block content %}
<div class="flex flex-col items-baseline lg:flex-row space-y-8 lg:space-x-8">
  <div class="p-2 bg-white rounded-md w-fit">
    <div id="choropleth-chart"></div>
  </div>
  <div class="p-2 bg-white rounded-md w-fit">
    <div id="histogram-chart"></div>
  </div>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/chart.js') }}"></script>
<script>
  const chart_data_json = '{{ chart_data | tojson | safe }}';
  const chart_data = JSON.parse(chart_data_json.slice(1,-1));

  choropleth(chart_data, 'choropleth-chart', "{{ url_for('static', filename='counties.json') }}");
  createHistogram(chart_data, 'histogram-chart', '溫度');
</script>
{% endblock %}
