<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Data Visualization Final</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.plot.ly/plotly-2.27.0.min.js"></script>
  {% endblock %}
</head>

<body class="bg-zinc-600">
  <div class="min-h-full">
    <!--{% include 'header.html' %}-->

    <aside id="default-sidebar"
      class="fixed top-0 left-0 z-40 w-40 h-screen transition-transform -translate-x-full sm:translate-x-0"
      aria-label="Sidebar">
      <div class="h-full px-3 py-4 overflow-y-auto bg-zinc-700">
        <ul class="space-y-2 font-medium">
          <li>
            <a href="#"
              class="flex items-center p-2 text-white hover:bg-zinc-400 md:rounded-md rounded-lg group">
              <svg width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M10 13.5a4 4 0 1 0 4 0v-8.5a2 2 0 0 0 -4 0v8.5" />  <line x1="10" y1="9" x2="14" y2="9" /></svg>
              <span class="ms-3">溫度</span>
            </a>
          </li>
          <li>
            <a href="#"
              class="flex items-center p-2 text-white hover:bg-zinc-400 md:rounded-md rounded-lg group">
              <svg width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M7 18a4.6 4.4 0 0 1 0 -9h0a5 4.5 0 0 1 11 2h1a3.5 3.5 0 0 1 0 7" />  <path d="M11 13v2m0 3v2m4 -5v2m0 3v2" /></svg>
              <span class="ms-3">雨量</span>
            </a>
          </li>
          <li>
            <a href="#"
              class="flex items-center p-2 text-white hover:bg-zinc-400 md:rounded-md rounded-lg group">
              <svg width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M5 8h8.5a2.5 2.5 0 1 0 -2.34 -3.24" />  <path d="M3 12h15.5a2.5 2.5 0 1 1 -2.34 3.24" />  <path d="M4 16h5.5a2.5 2.5 0 1 1 -2.34 3.24" /></svg>
              <span class="ms-3">風速</span>
            </a>
          </li>
        </ul>
      </div>
    </aside>

    <main>
      <div id="mapPlot" class="h-screen"></div>
    </main>

  
  </div>
  <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  <script src="{{ url_for('static', filename='js/chart.js') }}"></script>
  {% block script %}
    <script>
        const chart_data_json = '{{ chart_data | tojson | safe }}'
        const chart_data = JSON.parse(chart_data_json.slice(1,-1))

        choropleth(chart_data, 'mapPlot')
    </script>
  {% endblock %}
</body>

</html>